.App {
  display: flex;
  text-align: center;
}

.card {
  float: left;
  width: 450px;
  height: 400px;
  background-color: #fff;
  background: linear-gradient(#6944ff, #f05924);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.container {
  margin: 1.5rem;
}

img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 5px 50px 0px rgb(108, 68, 252), 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}

.name {
  font-weight: 700;
  font-size: 24px;
  color: #2d07c5;
  margin-bottom: 15px;
}

.job {
  font-size: 20px;
  font-weight: 500;
  font-weight: bold;
  color: #160657;
  margin-bottom: 15px;
}

.info {
  font-size: 18px;
  font-weight: 500;
  color: #241757;
  margin-bottom: 15px;
}